.host {
  display: block;
  overflow: visible;
  padding-top: 16px;
  margin-top: -16px;
  width: 144px;
}
.host :global(svg) {
  overflow: visible;
  display: block;
}
.light {
  filter: brightness(0) invert(1);
}
