.header {
  padding: 32px 120px 0;
  align-self: stretch;
  width: 100%;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.right {
  display: flex;
  align-items: center;
  gap: 16px;
}
.userBtn {
  width: 36px;
  height: 36px;
  border-radius: 999px;
  border: 1px solid var(--color-gray-200);
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
